<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="uploaderConfiguration" type="StormReplayUploader.Config.UploaderConfiguration, StormReplayUploader" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <!-- updateInterval is a value in seconds. It can not go lower than 60 -->
  <!-- You can change the path of the replayDirectory. -->
  <uploaderConfiguration updateInterval="900" replayDirectory="D:\Replays">
    <targets>
      <target assemblyName="StormReplayUploader.Targets" typeName="StormReplayUploader.Targets.ConsoleTarget" />
      <!--<target assemblyName="StormReplayUploader.Targets" typeName="StormReplayUploader.Targets.EventLogTarget" />-->
      <!--<target assemblyName="StormReplayUploader.Targets" typeName="StormReplayUploader.Targets.HeroGGTarget" />-->
      <!--<target assemblyName="StormReplayUploader.Targets" typeName="StormReplayUploader.Targets.HotsLogsTarget" />-->
      <target assemblyName="StormReplayUploader.Targets" typeName="StormReplayUploader.Targets.StormLogsTarget" />
    </targets>
  </uploaderConfiguration>
</configuration>
